name = "Extents"
uuid = "411431e0-e8b7-467b-b5e0-f676ba4f2910"
authors = ["Rafael Schouten <rafaelschouten@gmail.com>"]
version = "0.1.0"

[compat]
julia = "1.5"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
